@media only screen and (max-width: 1199px) {
    #cssmenu > ul > li > a{font-size: 14px;}
    .top_product .top_prod .product .prod_bot .pro_name h4,.special_product .special_prod .product .prod_bot .pro_name h4,.new_product .new_prod .product .prod_bot .pro_name h4{height: 30px;overflow: hidden;}
    .top_product .top_prod .product .prod_bot_hover,.special_product .special_prod .product .prod_bot_hover,.new_product .new_prod .product .prod_bot_hover{padding: 28px 0;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo{transform: translate(-90%, -90%);}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo{transform: translate(-90%, -50%);}
    .customer_services .cust_serv .services .serv_box .icon_left{height: auto;}
    #footer .foot .foot_box{padding: 0 15px 0 40px;}
}   
@media only screen and (max-width: 991px)  {
    h2{font-size: 26px;}
    h3{font-size: 18px;}
    h4{font-size: 16px;}
    h5{font-size: 14px;}
    .title_heading h2{font-size: 24px;}
    #header .head_top .head_top_inner .ht_options{display: none;}
    #header .head_mid .head_mid_inner .cart .cart_box{font-size: 14px;}
    .head_mid_nav > .container{padding: 0;}
    #cssmenu.align-center > ul > li{margin: 0;}
    .fixed #header .head_mid_nav{position: relative;padding: 10px 0;}
    .fixed #header .head_mid_nav .main_logo{display: none;}
    .fixed #header .head_mid_nav #cssmenu.align-center{float: none;}
    .fixed #header .head_mid_nav #cssmenu.align-center > ul{text-align: center;}
    .hero_banner{margin: 0 0 30px;}
    .hero_banner .banner_slider .banner .banner_text{transform: translate(24%, -50%);max-width: 240px;}
    .hero_banner .banner_slider .banner .banner_text span{font-size: 20px;}
    .hero_banner .banner_slider .banner .banner_text p{font-size: 22px;}
    .hero_banner .banner_slider .banner .banner_text .code{line-height: 16px;}
    .hero_banner .banner_slider .banner .banner_text .code span{font-size: 14px;}
    .hero_banner .banner_slider .banner .banner_text .b_btn{padding: 10px 10px;}
    .hero_banner .owl-theme .owl-nav .owl-prev,.hero_banner .owl-theme .owl-nav .owl-next{height: 20px;width: 20px;}
    .hero_banner .owl-theme .owl-nav .owl-next .fas,.hero_banner .owl-theme .owl-nav .owl-prev .fas{font-size: 20px;}
    .top_product,.special_product,.new_product{margin: 30px 0 30px;}
    .promo_banner{margin: 30px 0 30px;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo{transform: translate(-90%, -50%);}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo span{font-size: 22px;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo h3{font-size: 24px;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo .code{font-size: 12px;line-height: 18px;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo .code span{font-size: 16px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo span, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo span{font-size: 22px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo h3, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo h3{font-size: 24px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo p, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo p{font-size: 11px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo .b_btn, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo .b_btn{font-size: 12px;padding: 10px 10px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo .code, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo .code{font-size: 10px;line-height: 17px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo .code span, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo .code span{font-size: 12px;}
    .about_us{margin: 30px 0 30px;}
    .about_us .about_content{padding: 40px 0;}
    .about_us .about_content p{font-size: 16px;line-height: 26px;}
    .testimonial{margin: 30px 0 30px;}
    .testimonial .container .our_testi .testimo .test_top .test_img{margin: 20px 60px 20px 0;}
    .customer_services{margin: 30px 0 20px;}
    .customer_services .cust_serv .services .serv_box{flex-direction: column;}
    .customer_services .cust_serv .services .serv_box .icon_left{margin-bottom: 10px;}
    .customer_services .cust_serv .services .serv_box .servi_con{text-align: center;margin-left: 0;}
    .new_offer{margin: 30px 0 30px;}
    .new_offer .offer .promo{transform: translate(0%, -50%);max-width: 360px;width: 100%;}
    .new_offer .offer .promo span{font-size: 24px;}
    .new_offer .offer .promo h3{font-size: 28px;}
    .new_offer .offer .promo .code{font-size: 12px;}
    .new_offer .offer .promo .code span{font-size: 14px;line-height: 20px;}
    .instafeed{margin: 30px 0 30px;}
    .instafeed .instagram{margin-top: 20px;}
    .instafeed .instagram .instagram_gallery .instagram-image:nth-child(n + 11){display: none;}
    .instafeed .instagram .instagram_gallery .instagram-image img{width: 20% !important;}
    .book_barber{margin: 30px 0 30px;}
    .blogs{margin: 30px 0 30px;}
    .blogs .blog_inner .blog{margin: 0 10px;}
    .partner{margin: 30px 0 30px;}
    .news_letter{margin: 30px 0 30px;}
    .back_top .button img{max-width: 20px;}
    #footer{margin: 30px 0 0px;}
    #footer .foot{flex-wrap: wrap;}
    #footer .foot .foot_box{padding: 0 15px 0 90px;}

}
@media only screen and (max-width: 767px)  {
    .title_heading h2{font-size: 22px;}
    #header .head_top .head_top_inner .ht_notes p{font-size: 12px;}
    #header .head_mid{position: relative;padding: 10px 0;}
    #header .head_mid .head_mid_inner.h_m > *{flex: inherit;}
    #header .head_mid .head_mid_inner .head_search{width: 22px;} 
    #header .head_mid .head_mid_inner .head_search .search_form{position: absolute;left: 0;top: 129%;width: 100%;}
    #header .head_mid .head_mid_inner .head_search .search_form.active input[type="search"]{font-size: 12px;width: 100%;background-color: #111;z-index: 10;border: 0;border-radius: 0;}
    #header .head_mid .head_mid_inner .head_search .search_toggle{position: absolute;top: 19%;padding: 10px;}
    #header .head_mid .head_mid_inner .head_search .search_toggle.active{margin-left: 0;}
    #header .head_mid .head_mid_inner .cart .cart_box{display: none;}
    #header .head_mid .head_mid_inner .cart a.cart_box_icon{display: block;}
    #header .head_mid_nav{padding-bottom: 0;}
    #cssmenu.small-screen #menu-button{border-top: 1px solid rgba(120, 120, 120, 0.2);}
    .hero_banner{margin: 0 0 20px;}
    .hero_banner .banner_slider .banner img{visibility: hidden;}
    .hero_banner .banner_slider .banner{height: 300px;background-position: 55% center;}
    .hero_banner .banner_slider .banner_a{background-image: url(../images/banner/banner_a.png);}
    .hero_banner .banner_slider .banner_b{background-image: url(../images/banner/banner_b.png);}
    .hero_banner .banner_slider .banner .banner_text{transform: translate(12%, -50%);}
    .top_product,.special_product,.new_product{margin: 20px 0 20px;}
    .top_product .top_prod,.special_product .special_prod,.new_product .new_prod{padding-top: 10px;}
    .promo_banner{margin: 20px 0 20px;}
    .promo_banner .promo_imgbox{flex-direction: column;}
    .promo_banner .promo_imgbox .promo_left{width: 100%;margin-bottom: 20px;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item{float: none;display: flex;justify-content: center;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo{transform: translate(-90%, -90%);}
    .promo_banner .promo_imgbox .promo_right{width: 100%;display: block;text-align: center;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo{transform: translate(-95%, -60%);text-align: left;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo p, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo p{font-size: 14px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg{margin-bottom: 10px;}
    .about_us{margin: 20px 0 20px;}
    .about_us .about_content .title_heading h2{margin-bottom: 10px;}
    .about_us .about_content p{font-size: 14px;line-height: 22px;}
    .about_us .about_content{width: 70%;}
    .testimonial{margin: 20px 0 20px;}
    .testimonial .container .our_testi .testimo{margin: 10px;}
    .testimonial .container .our_testi .testimo .test_name{text-align: left;}
    .customer_services{margin: 20px 0 20px;}
    .customer_services .cust_serv .services{padding: 20px 0px 20px;flex-wrap: wrap;justify-content: space-around;}
    .customer_services .cust_serv .services .serv_box{width: 50%;}
    .serv_box:nth-child(n+3){margin-top: 40px;}
    .new_offer{margin: 20px 0 20px;}
    .new_offer .offer .promo{max-width: 280px;}
    .new_offer .offer .promo span{font-size: 16px;margin-bottom: 0;}
    .new_offer .offer .promo h3{font-size: 20px;}
    .new_offer .offer .promo .code{font-size: 10px;}
    .new_offer .offer .promo .code span{font-size: 12px;line-height: 24px;}
    .new_offer .offer .promo .b_btn{font-size: 12px;padding: 10px;}
    .new_offer .offer{background-image: url(../images/sale.png);height: 220px;background-position: 47% center;}
    .new_offer .offer img{visibility: hidden;}
    .instafeed{margin: 20px 0 20px;}
    .instafeed .instagram .instagram_gallery .instagram-image:nth-child(n + 9){display: none;}
    .instafeed .instagram .instagram_gallery .instagram-image img{width: 25% !important;}
    .book_barber{margin: 20px 0 20px;}
    .book_barber .book_form form{margin-top: 0;}
    .book_barber .book_form form .field{padding: 5px 0;}
    .book_barber .book_form form .field.half{width: 100%;}
    .book_barber .book_form form .field input, .book_barber .book_form form .field label, .book_barber .book_form form .field textarea, .book_barber .book_form form .field select, .book_barber .book_form form .field input, .book_barber .book_form form .field option{font-size: 12px;}
    .blogs{margin: 20px 0 20px;}
    .blogs .blog_inner{flex-wrap: wrap;padding-top: 10px;}
    .blogs .blog_inner .blog{width: 100%;margin: 0;}
    .blogs .blog_inner .blog:nth-child(n + 2){margin-top: 20px;}
    .blogs .blog_inner .blog .user .imgnam span{font-size: 12px;}
    .partner{margin: 20px 0 20px;}
    .news_letter{margin: 20px 0 20px;}
    .news_letter .newsletter p{font-size: 12px;margin-bottom: 20px;}
    .back_top .button img{max-width: 15px;}
    #footer{margin: 20px 0 0px;}
    #footer .foot .foot_box.logo{flex: none;width: 100%;}
    #footer .foot .foot_box{flex: none;width: 50%;padding: 0 15px;}
    #footer .foot .foot_box.logo .foot_con p{font-size: 14px;}
    #footer .foot .foot_box.logo .foot_social li a{line-height: 18px;padding: 0;}
    #footer .foot .foot_box ul li a{font-size: 14px;}
    #footer .foot .foot_box.contact .address p{font-size: 14px;}
    #footer .foot .foot_box.contact .phone span, #footer .foot .foot_box.contact .email span,#footer .foot .foot_box.contact .phone a, #footer .foot .foot_box.contact .email a{font-size: 14px;}
    #footer .foot_bot .copyright p{font-size: 12px;}
    #footer .foot{padding: 20px 0 20px 0;}


}
@media only screen and (max-width: 479px)  {
    h2{font-size: 24px;}
    h3{font-size: 16px;}
    h4{font-size: 14px;}
    h5{font-size: 12px;}
    .title_heading h2{font-size: 20px;}
    #header .head_top .head_top_inner .ht_notes{text-align: center;}    
    #header .head_top .head_top_inner .ht_social{display: none;}
    #header .head-bott .text-line h5{text-align: center;line-height: 16px;}
    .hero_banner .banner_slider .banner{height: 250px;background-position: 32% center;}
    .hero_banner .banner_slider .banner_b .banner_text p{max-width: inherit;}
    .hero_banner .banner_slider .banner .banner_text > span{display: none;}
    .hero_banner .banner_slider .banner .banner_text{max-width: inherit;transform:inherit;position: absolute;top: inherit;left: inherit;bottom: 0; padding: 10px 20px;text-align: center;background-color: rgba(0,0,0,.6);}
    .top_product .owl-theme .owl-nav.disabled + .owl-dots .owl-dot span,.special_product .owl-theme .owl-nav.disabled + .owl-dots .owl-dot span,.new_product .owl-theme .owl-nav.disabled + .owl-dots .owl-dot span{width: 20px;}
    .top_product .top_prod .product,.special_product .special_prod .product,.new_product .new_prod .product{float: none;margin: 0;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo span{font-size: 16px;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo h3{font-size: 18px;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo .code{font-size: 10px;line-height: 12px;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo .code span{font-size: 12px;}
    .promo_banner .promo_imgbox .promo_left .promo_left_slider .promo_left_item .promo .b_btn{font-size: 10px;padding: 10px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo span, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo span{font-size: 12px;margin-bottom: 0px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo h3, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo h3{font-size: 18px;margin-bottom: 5px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo p, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo p{font-size: 10px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo .code, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo .code{font-size: 8px;line-height: 14px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo .code span, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo .code span{font-size: 10px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo .b_btn, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo .b_btn{font-size: 10px;}
    .promo_banner .promo_imgbox .promo_right .promo_topimg .promo, .promo_banner .promo_imgbox .promo_right .promo_botimg .promo{transform: translate(-90%, -50%);}
    .about_us{background-position: 30% center;}
    .about_us .about_content{padding: 20px 0;}
    .about_us .about_content p{font-size: 12px;line-height: 18px;}
    .testimonial .container .our_testi .testimo{padding: 20px;}
    .testimonial .container .our_testi .testimo .test_top .test_img{float: none;margin: 10px auto 30px;max-width: 160px;}
    .testimonial .container .our_testi .testimo .test_top .test_con p{font-size: 12px;line-height: 16px;}
    .testimonial .container .our_testi .testimo .test_name{margin-top: 10px;}
    .customer_services .cust_serv .services .serv_box{width: 100%;}
    .serv_box:nth-child(n+2){margin-top: 30px;}
    .new_offer .offer{height: 260px;background-position: 25% center;}
    .new_offer .offer .promo{background-color: rgba(0,0,0,0.7);padding: 20px;transform: translate(-50%, -50%);}
    .instafeed .instagram .instagram_gallery .instagram-image:nth-child(n + 5){display: none;}
    .instafeed .instagram .instagram_gallery .instagram-image img{width: 50% !important;}
    .blogs .blog_inner{padding-top: 0;}
    .blogs .blog_inner .blog:nth-child(n + 2){margin-top: 10px;}
    .news_letter .newsletter form{flex-wrap: wrap;flex-direction: column;}
    .news_letter .newsletter form input[type="email"]{width: 100%;}
    .news_letter .newsletter form input[type="button"]{margin: 10px 0 0 0;width: 100%;}
    #footer .foot .foot_box h5{font-size: 14px;}
    #footer .foot .foot_box.logo{text-align: center;}
    #footer .foot .foot_box.logo .foot_con{text-align: center;}
    #footer .foot .foot_box.logo .foot_social{justify-content: center;}
    #footer .foot .foot_box.logo .foot_social li{margin-right: 20px;}
    #footer .foot .foot_box.logo .foot_social li:last-child{margin-right: 0;}
    #footer .foot_bot{flex-direction: column-reverse;justify-content: center;}
    #footer .foot_bot .copyright{text-align: center;padding-top: 10px;max-width: 220px;}
    #footer .foot_bot .payment{justify-content: space-between;width: 100%;}
    #footer .foot_bot .payment li{margin-left: 0;}
}