#cssmenu {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	z-index: 9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: $primary;
	ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		line-height: 1;
		display: block;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		li {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none;
			line-height: 1;
			display: block;
			position: relative;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			a {
				margin: 0;
				padding: 0;
				border: 0;
				list-style: none;
				line-height: 13px;
				display: block;
				position: relative;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
		ul {
			position: absolute;
			left: -9999px;
			li {
				height: 0;
				-webkit-transition: all .25s ease;
				-moz-transition: all .25s ease;
				-ms-transition: all .25s ease;
				-o-transition: all .25s ease;
				transition: all .25s ease;
				a {
					border-bottom: 1px solid $tertiary;
					padding: 11px 15px;
					width: 170px;
					font-size: 14px;
					text-decoration: none;
					color:$font;
					font-weight: 400;
					background: $primary;
					&:hover {
						color: $hover;
					}
				}
				&:last-child {
					>a {
						border-bottom: 0;
					}
				}
				&:hover {
					>a {
						color: $hover;
					}
				}
			}
			ul {
				margin-left: 100%;
				top: 0;
			}
			li.last-item {
				>a {
					border-bottom: 0;
				}
			}
			li.has-sub {
				>a {
					&:after {
						position: absolute;
						top: 16px;
						right: 11px;
						width: 8px;
						height: 2px;
						display: block;
						background:$font;
						content: '';
					}
					&:before {
						position: absolute;
						top: 13px;
						right: 14px;
						display: block;
						width: 2px;
						height: 8px;
						background:$font;
						content: '';
						-webkit-transition: all .25s ease;
						-moz-transition: all .25s ease;
						-ms-transition: all .25s ease;
						-o-transition: all .25s ease;
						transition: all .25s ease;
					}
				}
			}
			>li.has-sub {
				&:hover {
					>a {
						&:before {
							top: 17px;
							height: 0;
						}
					}
				}
			}
		}
	}
	#menu-button {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		line-height: 1;
		display: block;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: none;
	}
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	>ul {
		&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
		>li {
			float: left;
			>a {
				padding: 17px;
				font-size: 16px;
				letter-spacing: 1px;
				text-decoration: none;
				color:$font;
				font-weight: 600;
				text-transform: uppercase;
			}
			&:hover {
				>a {
					color: $hover;
				}
			}
		}
		>li.has-sub {
			>a {
				padding-right: 30px;
				&:after {
					position: absolute;
					top: 22px;
					right: 11px;
					width: 8px;
					height: 2px;
					display: block;
					background:$font;
					content: '';
				}
				&:before {
					position: absolute;
					top: 19px;
					right: 14px;
					display: block;
					width: 2px;
					height: 8px;
					background:$font;
					content: '';
					-webkit-transition: all .25s ease;
					-moz-transition: all .25s ease;
					-ms-transition: all .25s ease;
					-o-transition: all .25s ease;
					transition: all .25s ease;
				}
			}
			&:hover {
				>a {
					&:before {
						top: 23px;
						height: 0;
					}
				}
			}
		}
	}
	li {
		&:hover {
			>ul {
				left: auto;
				>li {
					height: 35px;
				}
			}
		}
	}
}
#cssmenu.align-center {
	>ul {
		font-size: 0;
		text-align: center;
		>li {
			display: inline-block;
            float: none;
            margin: 0 10px;
		}
	}
	ul {
		ul {
			text-align: left;
		}
	}
}
#cssmenu.align-right {
	>ul {
		>li {
			float: right;
		}
	}
	ul {
		ul {
			text-align: right;
			ul {
				margin-left: 0;
				margin-right: 100%;
			}
			li.has-sub {
				>a {
					&:after {
						right: auto;
						left: 11px;
					}
					&:before {
						right: auto;
						left: 14px;
					}
				}
			}
		}
	}
	li {
		&:hover {
			>ul {
				left: auto;
				right: 0;
			}
		}
	}
}
#cssmenu.small-screen {
	width: 100%;
	ul {
		width: 100%;
		display: none;
		li {
			width: 100%;
			border-top: 1px solid rgba(120, 120, 120, 0.2);
			a {
				width: 100%;
				border-bottom: 0;
			}
		}
		ul {
			li {
				height: auto;
				a {
					width: 100%;
					border-bottom: 0;
					padding-left: 25px;
					color:$font;
					background: none;
				}
				&:hover {
					>a {
						color: $hover;
					}
				}
			}
			ul {
				li {
					a {
						padding-left: 35px;
					}
				}
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
			}
			li.active {
				>a {
					color: $hover;
				}
			}
			position: relative;
			left: 0;
			width: 100%;
			margin: 0;
			text-align: left;
			>li.has-sub {
				>a {
					&:after {
						display: none;
					}
					&:before {
						display: none;
					}
				}
			}
			.submenu-button {
				height: 34px;
				width: 34px;
				&:after {
					top: 15px;
					right: 13px;
				}
				&:before {
					top: 12px;
					right: 16px;
				}
			}
		}
	}
	li {
		&:hover {
			>ul {
				>li {
					height: auto;
				}
			}
		}
	}
	>ul {
		>li {
			float: none;
		}
		>li.has-sub {
			>a {
				&:after {
					display: none;
				}
				&:before {
					display: none;
				}
			}
		}
	}
	#menu-button {
		display: block;
		padding: 17px;
		color:$font;
		cursor: pointer;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		&:after {
			position: absolute;
			top: 22px;
			right: 17px;
			display: block;
			height: 8px;
			width: 20px;
			border-top: 2px solid$font;
			border-bottom: 2px solid$font;
			content: '';
		}
		&:before {
			position: absolute;
			top: 16px;
			right: 17px;
			display: block;
			height: 2px;
			width: 20px;
			background:$font;
			content: '';
		}
	}
	#menu-button.menu-opened {
		&:after {
			top: 23px;
			border: 0;
			height: 2px;
			width: 15px;
			background: $hover;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:before {
			top: 23px;
			background: $hover;
			width: 15px;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
	.submenu-button {
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid rgba(120, 120, 120, 0.2);
		height: 46px;
		width: 46px;
		cursor: pointer;
		&:after {
			position: absolute;
			top: 22px;
			right: 19px;
			width: 8px;
			height: 2px;
			display: block;
			background:$font;
			content: '';
		}
		&:before {
			position: absolute;
			top: 19px;
			right: 22px;
			display: block;
			width: 2px;
			height: 8px;
			background:$font;
			content: '';
		}
	}
	.submenu-button.submenu-opened {
		background: #262626;
		&:after {
			background: $hover;
		}
		&:before {
			display: none;
		}
	}
}
#cssmenu.small-screen.align-center {
	>ul {
		text-align: left;
	}
}
#cssmenu.small-screen.align-right {
	ul {
		ul {
			position: relative;
			left: 0;
			width: 100%;
			margin: 0;
			text-align: left;
		}
	}
}
#cssmenu.small-screen.select-list {
	padding: 5px;
}